@using SimpleMVC.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "Main";
}
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog" style="width:300px !important;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <span>
                                Are you sure you want to delete?
                            </span>
                            <br />
                            <strong id="deletedBookName"></strong>
                            <strong id="deletedBookAuthor"></strong>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id="deleteLink" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Book sale</h2>
        <p>
            <a class="btn btn-sm btn-primary" href="/Home/Create/">Create</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><p>Book name</p></th>
                    <th><p>Author</p></th>
                    <th><p>Price</p></th>
                    <th style="width: 30px;"></th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td><p>@book.Name</p></td>
                        <td><p>@book.Author</p></td>
                        <td><p>@book.Price RUB</p></td>
                        <td><p><a class="btn btn-xs btn-primary" href="/Home/Edit/@book.Id">Edit</a></p></td>
                        <td><p><button class="btn btn-xs btn-danger" onclick="DeleteConfirmation(@book.Id, '@book.Name', '@book.Author')">Delete</button></p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script>
        var DeleteConfirmation = function (id, name, author) {
            $('#deletedBookName').text(name);
            $('#deletedBookAuthor').text(author);
            $('#deleteLink').attr("href", "@Url.Action("Delete", "Home")" + '/' + id);
            $('#delete-conformation').modal('show');
        }
    </script>
}